<h2>Welcome, {{firstname}} 🎉</h2>
<p>Thanks for joining JinVa! Please verify your email below:</p>
<a href="{{verifyUrl}}">Verify Email</a>
<p>If that doesn’t work, copy this link:</p>
<pre>{{verifyUrl}}</pre>
